body{
	margin:0;
	padding: 0;
}

.input_region{
	width:600px;
}

.input_region{
	border-collapse:collapse;
	width:100%;
}
.input_region>tbody>tr>td:first-child{
	padding-right:20px;
}
.input_region>tbody>tr>td:first-child>input{
	width:100%;
}
.input_region>tbody>tr>td:last-child{
	width:100px;
}
.input_region>tbody>tr>td:last-child>input{
	width:100%;
}

.item_panel{
	margin:20px 0;
}
.item_panel label{
	margin-right:20px;
	cursor:pointer;
}
